.itemDetailPageContainer {
  margin: 2rem;
  margin-top: 4rem;
}

.itemDate {
  font-weight: 600;
  margin: 1rem;
}

.itemNameAndAmount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.itemNameAndAmount p {
  font-size: 24px;
  font-weight: 600;
}

.payerTitle, .owerTitle {
  font-weight: 600;
}

.payer,
.ower {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.owers {
  flex-direction: column;
}


.itemControl {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editBtn,
.deleteBtn {
  margin-bottom: 1rem;
  width: 100px;
  height: 2rem;
  border: none;
  border-radius: 15px;
}

.editBtn {
  background: #62b6cb;
}

.deleteBtn {
  background: #5fa8d3;
}
