.settlePageContainer {
  margin: 4rem 2rem;
}

.overView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overView h2 {
  margin: 0.5rem;
}

.unPaidListContainer,
.paidListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.unPaidLi,
.paidLi {
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  box-shadow: 2px 2px 3px 2px #bdbdbd;
  margin-bottom: 1rem;
}

.payBtn,
.cancelPaidBtn {
  border: none;
  border-radius: 15px;
  height: 2rem;
  width: 100px;
  margin-left: 0.5rem;
}

.payBtn {
  background: #5fa8d3;
}

.cancelPaidBtn {
  background: #e56b6f;
  color: white;
}

.setArchiveBtn {
  margin-top: 1rem;
  height: 2rem;
  width: 100px;
  border: none;
  border-radius: 15px;
  background: #1b4965;
  color: white;
}

.btnDisabled {
  background: #bdbdbd;
}
